<div>
    <h1>Historial Compras</h1>
    <div>
        <table style="width:100%">
                <tr>
                    <th id = 'codigoMedicamento' >Codigo Medicamento</th>
                    <th id = 'numeroIdentidad'>Numero Identidad</th>
                    <th id = 'edad'>Edad</th>
                    <th id = 'medioPago'>Medio Pago</th>
                    <th id = 'recetaMedica'>Receta Medica</th>
                    <th id = 'cantidad'>Cantidad</th>
                </tr>
                <br/>
                <tr *ngFor="let comprar of historial">
                    <th>{{comprar.codigoMedicamento}}</th>
                    <th>{{comprar.numeroIdentidad}}</th>
                    <th>{{comprar.edad}}</th>
                    <th>{{comprar.medioPago}}</th>
                    <th>{{comprar.recetaMedica}}</th>
                    <th>{{comprar.cantidad}}</th>
                </tr>
        </table>                  
                  
    <button (click)="historialCompras()">
            Historial
    </button>
</div>